*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

a{
    color: black;
}
h1{
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
h2{
    font-size: 20px !important;
}
h3{
    font-size: 18px !important;
}
h4{
    font-size: 14px !important;
}
p,li,a{
    text-decoration: none;
    list-style-type: none;
}
.flex-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1280px;
    background-color: #f1f2f4;
}
.pagina-padding{
    padding: 0 5vw;
}
/* Begin styling navbar */
nav{
    background-color: #dadada;
    padding: 5px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li {
    padding: 15px 0;
    font-size: 23px;
}
nav ul li:hover a{
    color: rgb(91, 48, 160);
}
nav ul li.logo{
    flex: 1;
    font-weight: 500px;
    font-size: 23px;
    user-select: none;
}
nav ul li.item {
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
    position: relative;
}
nav ul li.item:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(91, 48, 160);
    left: 0;
    bottom: 10px;
    opacity: 0;
    transition: 0.2s linear;
}
nav ul li.item:hover:after{
    opacity: 1;
}
nav ul li a{
    color: black;
    font-size: 18px;
}
nav ul li.burger{
    display: none;
    cursor: pointer;
}
nav ul li.burger.hide i:before{
    content: '\f00d';
}
@media(max-width:768px){
    nav{
        padding: 5px 30px;
    }
    nav ul li.item{
        width: 100%;
        display: none;
    }
    nav .item.show{
        display: block;
    }
    nav ul li.burger{
        display: block;
    }

}

/* DLSDSD1
    #navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        background-color: #dadada;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        max-width: 100%;
    }
    .nav-brand{
        font-size: 2rem;
    }
    .nav-link{
        transition: 0.4s ease;
    }
    .nav-link:hover{
        background-color: rgb(91, 48, 160);
        padding: 6px;
        color: white;
        border: 2px white solid;
    }
    .burger{
        display: none;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }
    @media(max-width:768px){
        .burger{
            display: block;
        }
        .burger.active .bar:nth-child(2){
            opacity: 0;
        }
        .burger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .burger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        .nav-menu{
            position: fixed;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: #dadada;
            width: 90%;
            text-align: center;
            transition: 0.3s;
        }
        .nav-item{
            margin: 16px 0;
            display: block;
        }
        .nav-menu.active{
            left: 0;
        }
    } */


/* Einde styling navbar */

/* Begin styling footer */
footer{
    background-color: #dadada;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}
.footer-logo{
    margin: auto 0;
}
.footer-follow, .footer-sitemap,.footer-contact{
    margin-top: 20px;
}
.social-links i {
    margin-right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    border: #000 1px solid;
}
.social-links i:hover{
    background-color: black;
    border: white 1px solid;
    color: white;
}
#footer li,h4 {
    margin-bottom:10px;
}
.footer-logo p {
    padding-top: 10px;
}
.footer-logo a{
    display: flex;
    font-size: 1.5rem;
    color: black;
    flex-shrink: 0;
    flex-grow: 0;
}
footer a:hover{
    color: rgb(91, 48, 160);
    transition: color 0.2s;
}
footer ul li :hover{
    margin-left: 4px;
    transition: margin-left 0.6s;
}
footer h4, .logo{
    text-transform: uppercase;
}
#footer p{
    font-size: 11px;
}
.wachtwoord.show{
    visibility: show;
}
.wachtwoord.hide{
    visibility: hidden;
}
@media only screen and (max-width: 1200px) {
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    footer h4{
        padding-top: 10px;
    }
    footer p {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
  }
/* Einde styling footer */
/* madafaka */