*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

a{
    color: black;
}
h1{
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
h2{
    font-size: 20px !important;
}
h3{
    font-size: 18px !important;
}
h4{
    font-size: 14px !important;
}
p,li,a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1280px;
    background-color: #f1f2f4;
}
.pagina-padding{
    padding: 0 5vw;
}
/* Begin styling navbar */
.nav-parent{
    background-color: #dadada;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    font-size: 1.5rem;
    color: black;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
}
.nav-logo a:hover{
    transition: color 0.5s ease;
    color: rgb(91, 48, 160);
}
.nav-links{
    display: flex;
    align-self: center;
}
.nav-link a, li{
    text-decoration: none;
    list-style-type: none;
    padding-right: 15px;
    margin: auto;
    font-size: 0.8rem;
}
.nav-link{
    flex-shrink: 0;
    flex-grow: 0;
    align-self: end;
}
.burger-icon{
    display: none;
}
.nav-link a:hover{
    transition: background-color 0.6s ease;
    color: white;
    padding: 10px;
    border: 2px solid white;
    background-color: rgb(91, 48, 160);
}
@media screen and (max-width: 850px) {
    .nav-link{
        display: none;
    }
    .burger-icon{
        display: block;
    }
}
/* Einde styling navbar */

/* Begin styling footer */
footer{
    background-color: #dadada;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}
.footer-logo{
    margin: auto 0;
}
.footer-follow, .footer-sitemap,.footer-contact{
    margin-top: 20px;
}
.social-links i {
    margin-right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    border: #000 1px solid;
}
.social-links i:hover{
    background-color: black;
    border: white 1px solid;
    color: white;
}
#footer li,h4 {
    margin-bottom:10px;
}
.footer-logo p {
    padding-top: 10px;
}
.footer-logo a{
    display: flex;
    font-size: 1.5rem;
    color: black;
    flex-shrink: 0;
    flex-grow: 0;
}
footer a:hover{
    color: rgb(91, 48, 160);
    transition: color 0.2s;
}
footer ul li :hover{
    margin-left: 4px;
    transition: margin-left 0.6s;
}
footer h4, .logo{
    text-transform: uppercase;
}
#footer p{
    font-size: 11px;
}
@media only screen and (max-width: 1200px) {
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    footer h4{
        padding-top: 10px;
    }
    footer p {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
  }
/* Einde styling footer */