@inherits UmbracoViewPage<ContentModels.PrivacyControls>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div class="privacy-parent">
    @if (Model.PrivacyContent != null && Model.PrivacyContent.Any())
    {
        foreach (var item in Model.PrivacyContent)
        {
            <div class="privacy-item">
                <h2>@Model.Value("title")</h2>
                <div class="privacy-verdeelt">
                    <p>@Model.Value("linkerContent")<br/><br/></p>
                    <p>@Model.Value("rechterContent")</p>
                </div>
            </div>
        }
    }
</div> 

