@inherits UmbracoViewPage<ContentModels.HomePagina>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@{
    var pages = Model?.Children().Where(x => x.IsVisible()) ?? Enumerable.Empty<IPublishedContent>();
}

<nav id="navbar" class="flex-container-item">
    <div class="container">
            <ul>
                    <li><a class="navbar-brand logo" href="@Model.Url()">@(Model.SiteName)</a></li>
                    @foreach (var item in pages)
                    {
                        <li class="{show:showNav, hide:!showNav}" class="item"><a href="@item.Url()">@item.Name</a></li>
                    }
                    <li class="burger">
                     @* <a><i @click="burgerToggle()" class="fas fa-bars"></i></a> *@
                    </li>
            </ul>
    </div>
</nav>                         