@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	var homePage = Model.AncestorOrSelf<ContentModels.HomePagina>();
}

<!DOCTYPE html>
<html lang="nl">
    
<head>
  @* <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> zou normaal gezien vue mee in het project doen*@ 
  @* <script src="https://unpkg.com/vue@3.0.2"></script> zou normaal gezien vue mee in het project doen *@
    @await Html.PartialAsync("MetaData")
    <link rel="stylesheet" href="style.css"></link>
    
</head>
    <body>
      <div class="flex-container" id="container">
        <div class="pagina-padding">
          @await Html.PartialAsync("topNavigation", homePage)
          @RenderBody()
          @await Html.PartialAsync("Footer", homePage)
      <script src="wwwroot/scripts/script.js"></script>
    </body>
</html>