@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PrivacyPagina>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}

<body>
    <div class="flex-container" id="container">
      <div class="pagina-padding">
        <section id="privacy">
          <h1>Privacy Policy</h1>
            <div class="privacy-parent">
              <div class="privacy-item">
                  @await Html.PartialAsync("privacyContent", Model)
              </div>
            </div>
        </section>
       </div>
    </div>
</body>