@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}
<link rel="stylesheet" href="css/CSS/Home-Style.css"></link>

<hero id="hero" class="flex-container-item">
          <div class="hero-parent">
            <div class="hero-item">
              <div>
                <h1>SecureSend</h1>
                <h4>Verstuur je berichten veilig nu naar wie je wil!</h4>
                <div class="cards">
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-lock"></i></div>
                    <h5>Encrypted</h5>
                    <p>Alle berichten worden voordat ze verzonden worden eerst extra beveiligd met encryprie</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="far fa-trash-alt"></i></div>
                    <h5>Verwijder</h5>
                    <p> optio nihil pariatur nostrum assumenda maxime magni ad doloremque animi. Numquam, molestiae.</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-exchange-alt"></i></div>
                    <h5>Deel info</h5>
                    <p> ipsum velit omnis suscipit nihil veniam placeat ratione dolore architecto reiciendis! Cumque repellendus possimus reiciendis.</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-book-open"></i></div>
                    <h5>Open source</h5>
                    <p> Qui perferendis doloremque ducimus, tenetur aliquam blanditiis atque ad reiciendis numquam at veritatis.</p>
                  </div>
                </div>
                <div class="icon-background">
                  <i class="fas fa-arrow-down"></i>
                </div>
              </div>
            </div>

            <div id="verstuur" class="hero-item">
              <h2>Laten we jouw berichten versturen</h2>
              <div class="verstuur-parent">
                <div class="verstuur-item">
                  <img src="media/banner"></img>
                </div>
                  <div class="verstuur-item">
                    <div>
                      <div class="bericht">
                        <h5>Jouw geheim bericht:</h5>
                        <textarea placeholder="Vul hier jouw bericht in ..."></textarea>
                      </div>
                      <div class="datum-item">
                          <h5>Vervalt:</h5>
                          <select name="datum" id="vervalDatum">
                            <option value="druk">Na drukken op link</option>
                            <option value="uur">Na 1 uur</option>
                            <option value="dag">Na 1 dag</option>
                            <option value="week">Na 1 week</option>
                          </select>
                    </div>
                    <div class="wachtwoord-item">
                      <div class="flex">
                        <h5>Wachtwoord op de link?</h5>
                        <label class="checkbox">
                          <input type="checkbox" checked="unchecked">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="uitlijning">
                      <input class="wachtwoord" placeholder="Wachtwoord" type="password" id="pass" name="password">
                      <button>Creër link</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </hero>
