@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}
<head>
	  <link rel="stylesheet" href="/css/overons-style.css"></link>
</head>
<header id="overons" class="flex-container-item">
      <h1>@Model.Value("pageTitle")</h1>
      <div class="overons-parent">
        <div class="overons-item">
          <div>
            @Html.GetGridHtml(Model,"aboutGrid")
          </div>
        </div>
      </div>
    </header>