@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}
<head>
	  <link rel="stylesheet" href="/css/contact-style.css"/>
</head>
 <!-- Begin Hero -->
      <div id="contact" class="flex-container-item">
        <h1>@Model.Value("pageTitle")</h1>
        <div class="contact-parent">
          <div class="contact-content">
            <div class="content-info">
              <h2>Email adres</h2>
              <p>securesend@email.com</p>
            </div>
            <div class="content-info">
              <h2>Telefoon nummer</h2>
              <p>0477 11 22 33</p>
            </div>
            <div class="content-info">
              <h2>Locatie</h2>
              <p>2590 Berlaar Leopoldlaan 9</p>
            </div>
          </div>
          <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1305.3764550664323!2d4.436992511063081!3d51.199443780745625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f73ffd805d4b%3A0xb3092ba064f1ee0f!2sBorsbeeksebrug%206%2C%202600%20Antwerpen!5e0!3m2!1snl!2sbe!4v1647599962189!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
        </div>
        </div>
      </div>
      <!-- Einde Hero -->