@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Services;
@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
}
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Style.css"></link>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="icon" type="image/x-icon" href="img/icon.jpg">
  <title>SecureSend</title>
</head>
<body>
  <div class="flex-container" id="container">
    <div class="pagina-padding">
      <!-- Dit is de navbar -->
    @await Html.PartialAsync("topNavigation", homePage)
    @RenderBody()
      <!-- Einde van de navbar -->
      <!-- Begin footer -->
    @await Html.PartialAsync("footer", homePage)
            
  <script src="wwwroot/scripts/script.js"></script>
</body>
</html>