@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PrivacyPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}
<head>
  <link rel="stylesheet" href="/css/privacy-style.css"/>
</head>
<body>
    <div class="flex-container" id="container">
      <div class="pagina-padding">
        <section id="privacy">
          <h1>Privacy Policy</h1>
            <div class="privacy-parent">
              <div class="privacy-item">
                @await Html.PartialAsync("titleAndContent", Model)
              </div>
          </div>
        </section>
      </div>
    </div>
  </body>